body {
  
  background-size: 100%;
}

.fundoNavContato {
  background-color: white!important;
}
nav #fundo {
  height: 100vh;
}


.conteudo {
  text-align: center;
}

img {
  margin-right: 2%;
  padding-bottom: 5%;
}
.img-nav {
  margin-right: 0;
  padding-bottom: 0;
}
.titulo {
  background-color: rgba(3, 30, 138, 0.75);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-bottom: 3%;
  text-align: center;
  align-items: center;
  color: white;
}

.config {
  background-color: #8accca;
  border-radius: 10px;
  padding-top: 20px;
  box-shadow: 10px 8px 0px 0px #130090;
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 3%;
}

h3 {
  margin-top: 50px;
  color: white;
}
.alinharVerticalmente {
  display: flex;
  align-items: center;
}

.filtroleft {
  margin-left: 2%;
  margin-bottom: 5%;
}

.filtroright {
  margin-right: 2%;
}
