body {
    background-color: white;
    background-size: 100%;
  }
  
  .fundoNavContato {
    background-color: #5e458c !important;
  }
  nav #fundo {
    height: 100vh;
  }
  
  
  .conteudo {
    text-align: center;
  }
  

  .img-nav {
    margin-right: 0;
    padding-bottom: 0;
  }

  .imgPerfil{
    clip-path: circle();
    margin-left: 5%;
    margin-bottom: 5%;
  }

  .imgConteudo{
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
  }

  .titulo {
    background-color: #5e458c;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 3%;
    text-align: center;
    align-items: center;
    color: white;
  }
  
  .config {
    background-color: #8accca;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 10px 8px 0px 0px #130090;
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 3%;
  }
  
  h3 {
    margin-top: 50px;
    color: white;
  }
  .alinharVerticalmente {
    display: flex;
    align-items: center;
  }
  
  .usuario{
    float: right;
    padding-right: 60%;
    padding-top: 3%;
  }
  

  .button {
    transition-duration: 0.4s;
    background-color: white;
    color: rgba(77, 196, 200, 0.9);
    border: 2px solid rgba(77, 196, 200, 0.9);
    border-radius: 10px;
    margin-bottom: 2%;
  }
  
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.5);
  }