
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');   
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap'); 

        .menuFonte
        {
            font-family: 'Mooli', sans-serif;
            font-size: 14px;
            font-weight: bold;
            color: rgb(7, 7, 100);
        }

        body
        {
            font-family: 'Mooli', sans-serif;
            font-size: 14px;
        }

nav #fundo {
  height: 100vh;
}

a:link {
  color: black;
}


.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-image: url(../images/fundoConfig.png);
  background-size: 100%;
}

.contato {
  background-color: white;
  border-radius: 10px;
  padding-top: 20px;
  box-shadow: 10px 8px 0px 0px rgba(3, 30, 138, 0.75);
  width: 80%;
  display: block;
  margin: 0 auto;
}

h3 {
  margin-top: 50px;
  color: white;
}
.alinharVerticalmente{
display: flex;
align-items: center;
}
