.externa {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
body{
    background-image: url(../images/fundoConfig.png);
    background-size: 100%;
}
.box {
    background-color: #705ad1;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 10px 8px 0px 0px rgba(3, 30, 138, 0.75);
    width: 90%;
    margin-left: 10px;
    display: block;
    margin: 0 auto;
  }
  label{
    color: white;
    font-weight: 550;
}
i{
    color: white;
}
h3{
    color: white;
}
.fundoNavContato {
    background-color: #5e458c !important;
  }
  nav #fundo {
    height: 100vh;
  }
  
  a:link {
      color: #ffffff;
    }
    
    a {
      color: white !important;
    }