@font-face {
    font-family: 'Summer';
    src: url(../fonts/Simple\ Summer.otf) format('opentype');
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #CFEBED;
}


/*nav{
    
}*/

span{
    color: yellow;
}

a:visited{
    color:yellow!important;
}

a:link{
    color: yellow;
}


nav a:hover{
    color: yellow!important;
}

.navbar-brand img{
    width: 120px;
}

.navbar-collapse{
    margin-left: 82%;
}

.img-thumbnail{
    background-color: transparent;
    border: none;
}


label{
    color: white;
    font-weight: 550;
}

i{
    color: black;
}

.input-text{
    position: relative;
}

.input-text input{
    position: relative;
    font-size: 0.8em;
}

.input-text span{
    position: absolute;
    top: 25%;
    color: black;
    pointer-events: none;
    transform: 0.5s;
    color: black;
}

.input-text i{
    position: absolute;
    top: 25%;
    right: 4%;
}

.form-control{
    padding-top: 3%;
}

.input-text input:valid ~ .spanMail, 
.input-text input:focus ~ .spanMail{
    color: black;
    font-size: 0.8em;
    transform: translateY(-50%);
    right: 61.5%;
}

.input-text input:valid ~ .spanPass, 
.input-text input:focus ~ .spanPass{
    color: black;
    font-size: 0.8em;
    transform: translateY(-50%);
    right: 60.5%;
}

.spanPass{
    right: 66.3%;
}

.spanMail{
    right: 67.3%;
}

h1{
    color: #193073;
    text-align: center;
    font-family: 'Summer';
}

.main{
    margin-top: 5%;
}

.login{
    background-color: #9FD7F9;
    border-radius: 10px;
    padding-top: 20px;
    width: 40%;
    box-shadow: 10px 8px 0px 0px rgba(19, 30, 73, 0.75);
}



